

@font-face {
	font-family: motion picture personal;
	src: url(../fonts/MotionPicture_PersonalUseOnly.ttf)
}


div.navbar ul li.push {
	list-style-type: none;
	display: inline-block;
	padding: 10px;
	font-family: Montserrat, sans serif;
	font-size: 12px;
}

div.navbar ul li.push a {
	text-decoration: none;
	background-color: #00bf9a;
	color: white;
	
}

div.navbar ul {
	background-color: #00bf9a;
}

div.menu ul li.button2 {
	list-style-type: none;
	display: inline-block;
	padding: 10px;
	font-family: Montserrat, sans serif;
	font-size: 12px;
}

div.menu ul li.button2 a {
	text-decoration: none;
	color: #8a8a8a;
}

.titre { text-align: center;
	font-size: 60px;
	font-family: motion picture personal;
	}
	
.gris { color: #8a8a8a}	

.vert { color: #00bf9a}

.fond { 
	background-image: url("../img/fond-top.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
	overflow: visible;
	
	}
	
.fond { color: white;
	font-family: Merriweather;
	font-size: 30px; font-weight: bold;
	text-align: center;
	padding-top: 200px;
	}
	
.para { color: white;
		font-family: arial;
	}	

.fond { color: white;}	
	
hr { width: 700px;}


	
	
	
	
	
	
	
