

@font-face {
	font-family: motion picture personal;
	src: url("../fonts/MotionPicture_PersonalUseOnly.ttf")
}


div.navbar ul li.push {
	list-style-type: none;
	display: inline-block;
	padding: 10px;
	font-family: Montserrat, sans serif;
	font-size: 12px;
	font-weight: bold;
	
}

div.navbar ul li.push a {
	text-decoration: none;
	background-color: #00bf9a;
	color: white;
	
}

div.navbar ul {
	background-color: #00bf9a;
	padding-left: 170px;
}

div.menu ul li.button2 {
	list-style-type: none;
	display: inline-block;
	padding: 10px;
	font-family: Montserrat, sans serif;
	font-size: 12px;
	font-weight: bold;
}

div.menu ul li.button2 a {
	text-decoration: none;
	color: #8a8a8a;
}

div.menu ul {
	padding-left: 170px;
}

.titre { text-align: center;
	font-size: 60px;
	font-family: motion picture personal;
	}
	
.gris { color: #8a8a8a}	

.vert { color: #08b597}

.fond { 
	background-image: url("../img/fond-top.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
	overflow: visible;
	color: white;
	font-family: Merriweather;
	font-size: 25px; font-weight: bold;
	text-align: left;
	padding-top: 190px;
	padding-left: 100px;
	}
	
.para { color: white;
		font-family: arial;
	}	
	
hr { width: 900px;
	border: 0.5px solid gray;
	opacity: 0.1;
	}	

.vignette { background-image: url("../img/vignette.png");
			background-repeat: no-repeat;
			width: 250px;
			height: 300px;
			color: white;
			display: inline-block;
			margin: 0 12px;
			font-size: 12px;
			padding-top: 100px;
			text-decoration: none;
			}
			
.input { border-radius: 20px;
		color: white;
		background-color: #08b597; 
		padding: 10px;
		text-decoration: none;
		font-size: 12px;
		}
		
.ico {
		margin-left: 440px;
	}

.search { margin-left: 20px;}

.vignette2 { background-image: url("../img/vignette.png");
			background-repeat: no-repeat;
			width: 250px;
			height: 300px;
			color: white;
			display: inline-block;
			margin: 0 12px;
			font-size: 12px;
			padding-top: 100px;
			}		

.sept { font-size: 10px;}	
		
div.vignette a { text-decoration: none;
				color: white;
			}

body { padding: 0;
	margin: 0;
	}
	
	
	
	
	
	
	
	
	
