section {
	background-image: url("../assets/img/Gabon.jpg");
}

a.gray {
	text-decoration: none;
	background-color: gray;
	color: white;
	padding: 15px;
	border-radius: 20px;
	box-shadow: 0px 0px 25px -2px black;
	font-family: Comfortaa;
}

a.gray:hover {
	background-color: silver;
	color: white;
	text-shadow:0px 0px 100px black;
}

select.bleu {
	text-decoration: none;
	background-color: blue;
	color: white;
	padding: 15px;
	border-radius: 20px;
	box-shadow: 0px 0px 25px -2px black;
	font-family: 'Comfortaa';
	font-size: 15px;
}

select.bleu:hover {
	background-color: #3399ff;
	color: white;
	cursor: pointer;
}

ul {
	display: inline-block;
	list-style-type: none;
	color: white;
}

footer {
	background-color: #00a14c;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.link-h {
	display: inline;
	
}

input[type=text] {
	width: 350px;
	height: 40px;
	border-radius: 20px;
	padding: 0 5px;
	font-size: 20px;
	font-family: Comfortaa;
	text-align: center;
	font-weight: bold;
}

input[type=button] {
	background-color: #00a14c;
	border: none;
	color: white;
	padding: 10px;
	font-size: 20px;
	border-radius: 20px;
	box-shadow: 0 0 25px -2px black;
	cursor: pointer;
	margin: 5px;
}

input[type=button]:hover {
	background-color: #1aff66;
	color: white;
}

.form {
	padding: 50px 0;
	margin: 150px;
}

.mid {
	background-image: url("../img/content.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 340px;
	padding: 100px;
	background-position: center;
}

.right {
	float: right;
	margin-top: 20px;
}

.back {
	background-color: rgba(192,192,192,0.9);
	background-size: cover;
	width: 750px;
	border-radius: 15px;
	box-shadow: 0 0 25px -2px black;
	margin: 150px auto;
	position: relative;
	bottom: 145px;
}

.ajust { padding: 0 200px;}

body {
	padding: 0;
	margin: 0;
}

.form p {
	color: #00a14c;
	font-size: 20px;
	font-weight: bold;
	font-family: Comfortaa;
}

.yellow {
	color: yellow;
}

.list {
	width:max-content;
	font-family: Comfortaa;
	font-weight: bold;
	margin: 0 auto;
	padding: 0;
}

.side {
	display: inline-block;
}

.col-spac {
	margin: 0 20px;
}

.list ul:nth-child(2) {
	margin: 0 100px;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: blue;
}

a.yellow:hover {
	color: yellow;
	text-decoration: underline;
}

input:focus, select:focus {
	outline: none;
}

option {
	padding: 5px;
}

html, body {
	height: 100%;
}

body {
	position: relative;
}




